@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border text-right">
            <h2 class="mb-30 title_color">Trần Nhật Tân</h2>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">
                        Trưởng nhóm
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h2 class="mb-30 title_color">Lê Đinh Quốc Huy</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/wwwroot/NewFolder/img/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20 left-align-p">
                    <p>
                        Thành viên nhóm
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <h2 class="mb-30 title_color">Huỳnh Quốc Khánh</h2>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">
                        Thành viên nhóm
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="~/wwwroot/NewFolder/img/elements/d.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
